<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/cd240be9-1f5d-4e61-81b2-bcb7269a5400/resourceGroups/Kubernetes-dev/providers/Microsoft.ContainerRegistry/registries/bbmdev</ResourceId>
    <ResourceName>bbmdev</ResourceName>
    <ResourceGroup>Kubernetes-dev</ResourceGroup>
    <Subscription>Dev</Subscription>
    <RegistryUrl>https://bbmdev.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>